[submodule "ODYM"]
	path = ODYM
	url = git@github.com:JakobBD/ODYM.git

[submodule "Mueller"]
	path = data/original/Mueller
	url = git@gitlab.pik-potsdam.de:REMIND/inputdata/Mueller.git

[submodule "James"]
	path = data/original/James
	url = git@gitlab.pik-potsdam.de:REMIND/inputdata/James.git

[submodule "Pauliuk"]
	path = data/original/Pauliuk
	url = git@gitlab.pik-potsdam.de:REMIND/inputdata/Pauliuk.git

[submodule "World_Steel"]
	path = data/original/World_Steel
	url = git@gitlab.pik-potsdam.de:REMIND/inputdata/World_Steel.git

[submodule "World_Bank"]
	path = data/original/World_Bank
	url = git@gitlab.pik-potsdam.de:simson_data/world_bank.git

[submodule "Wittig"]
	path = data/original/Wittig
	url = git@gitlab.pik-potsdam.de:simson_data/wittig.git

[submodule "USGS"]
	path = data/original/USGS
	url = git@gitlab.pik-potsdam.de:simson_data/usgs.git

[submodule "IMF"]
	path = data/original/IMF
	url = git@gitlab.pik-potsdam.de:simson_data/imf.git

[submodule "UN"]
	path = data/original/UN
	url = git@gitlab.pik-potsdam.de:simson_data/un.git
