[submodule "ODYM"]
	path = ODYM
	url = git@github.com:JakobBD/ODYM.git
[submodule "UN"]
	path = data/original/UN
	url = git@gitlab.pik-potsdam.de:simson_data/un.git
[submodule "data/original/imf"]
	path = data/original/imf
	url = git@gitlab.pik-potsdam.de:simson_data/imf.git
[submodule "data/original/usgs"]
	path = data/original/usgs
	url = git@gitlab.pik-potsdam.de:simson_data/usgs.git
[submodule "data/original/wittig"]
	path = data/original/wittig
	url = git@gitlab.pik-potsdam.de:simson_data/wittig.git
[submodule "data/original/world_bank"]
	path = data/original/world_bank
	url = git@gitlab.pik-potsdam.de:simson_data/world_bank.git
[submodule "data/original/worldsteel"]
	path = data/original/worldsteel
	url = git@gitlab.pik-potsdam.de:simson_data/worldsteel.git
[submodule "data/original/unifreiburg_ie_db"]
	path = data/original/unifreiburg_ie_db
	url = git@gitlab.pik-potsdam.de:simson_data/unifreiburg_ie_db.git
[submodule "data/original/oecd"]
	path = data/original/oecd
	url = git@gitlab.pik-potsdam.de:simson_data/oecd.git
[submodule "data/original/koch_leimbach"]
	path = data/original/koch_leimbach
	url = git@gitlab.pik-potsdam.de:simson_data/koch_leimbach.git
[submodule "data/original/Pauliuk"]
	path = data/original/Pauliuk
	url = git@gitlab.pik-potsdam.de:simson_data/Pauliuk.git
[submodule "data/original/Mueller"]
	path = data/original/Mueller
	url = git@gitlab.pik-potsdam.de:simson_data/Mueller.git
[submodule "data/original/un"]
	path = data/original/un
	url = git@gitlab.pik-potsdam.de:simson_data/un.git
[submodule "data/original/remind"]
	path = data/original/remind
	url = git@gitlab.pik-potsdam.de:simson_data/remind.git
[submodule "data/original/kc-lutz"]
	path = data/original/kc-lutz
	url = git@gitlab.pik-potsdam.de:simson_data/kc-lutz.git
[submodule "data/original/cullen"]
	path = data/original/cullen
	url = git@gitlab.pik-potsdam.de:simson_data/cullen.git
[submodule "data/original/iso3_codes"]
	path = data/original/iso3_codes
	url = git@gitlab.pik-potsdam.de:simson_data/iso3_codes.git
