model: 'steel'

input:
  madrat_output_path: 'C:\Users\jakobdu\data\code\remind_mfa_data'
  force_extract_tgz: False
  input_data_path: '../remind_mfa_data'
  scenarios_path: 'config/scenarios'
  input_data_version: 'rev1.0.0test_all_2b1450bc_1584d780_mfa'

model_switches:
  scenario: 'SSP1_lowEU'
  stock_extrapolation_class_name: 'LogisticExtrapolation'
  regress_over: loggdppc
  lifetime_model_name: 'LogNormalLifetime'
  do_stock_extrapolation_by_category: True

visualization:
  do_visualize: True
  do_show_figs: True
  do_save_figs: False
  figures_path: 'data/steel/output/figures'
  plotting_engine: 'plotly'
  extrapolation:
    do_visualize: False
  scrap_demand_supply:
    do_visualize: False
  sector_splits:
    do_visualize: False
  use_stock:
    do_visualize: True
    over_gdp: False
    per_capita: True
  gdppc:
    do_visualize: False
    per_capita: False
  production:
    do_visualize: True
  consumption:
    do_visualize: False
  trade:
    do_visualize: False
  sankey:
    do_visualize: False
    plotter_args:
      slice_dict:
        t: 2050
        # r: 'USA'
      exclude_processes:
        - "sysenv"
        #- "imports"
        #- "exports"
      exclude_flows: [ ]

export:
  do_export: True
  path: 'data/steel/output/export'
  pickle:
    do_export: True
  csv:
    do_export: True
  iamc:
    do_export: True
  assumptions:
    do_export: True
  docs:
    do_export: True
    path: 'docs/steel'
