# general config
model: 'steel'

# data sources
madrat_output_path: '../../madrat/output'
input_data_path: '../simson_data/data/steel/output'
scenarios_path: 'config/scenarios'
input_data_version: 'rev0steel_h12_cd1fe885_mfa'

# model customization
customization:
  scenario: 'SSP1_lowEU'
  mode: 'stock_driven'
  stock_extrapolation_class_name: 'LogSigmoidExtrapolation'
  lifetime_model_name: 'LogNormalLifetime'
  do_stock_extrapolation_by_category: True

# visualization
visualization:
  do_visualize: False
  scrap_demand_supply:
    do_visualize: False
  sector_splits:
    do_visualize: False
  use_stock:
    do_visualize: False
    over_gdp: False
    per_capita: False
  gdppc:
    do_visualize: False
    per_capita: False
  production:
    do_visualize: False
  consumption:
    do_visualize: False
  trade:
    do_visualize: False
  sankey:
    do_visualize: True
    slice_dict:
      t: 2050
      # r: 'USA'
    exclude_processes:
      - "sysenv"
      #- "imports"
      #- "exports"
    exclude_flows: [ ]
  do_show_figs: True
  do_save_figs: False
  plotting_engine: 'plotly'

# data export
output_path: 'data/steel/output'
docs_path: 'docs/steel'
do_export:
  pickle: False
  csv: False
  future_input: False
  iamc: False
  docs: True
